@page
@model YellowBucket1.Pages.AccountModel
@{
}

<body style="background-color: #4d495c">
    <h1 style="color:aliceblue">Welcome</h1>
    <h2>Browse our select titles</h2>

    <div>
        <ul>
            <li>
                <img src=" " alt=" " style="width:500px;height:500px;">
                <p>description<a href=""> Reviews</a></p>
                <img src="" alt=" " style="" />
                <input type="checkbox" id="movie" name="movie" value="Rent">
                <label for="vehicle1"> Rent Movie</label><br>
            </li>
            <li>
                <img src=" " alt=" " style="width:500px;height:500px;">
                <p>description<a href=""> Reviews</a></p>
                <img src="" alt=" " style="" />
                <input type="checkbox" id="movie" name="movie" value="Rent">
                <label for="vehicle1"> Rent Movie</label><br>
            </li>
            <li>
                <img src=" " alt=" " style="width:500px;height:500px;">
                <p>description<a href=""> Reviews</a></p>
                <img src="" alt=" " style="" />
                <input type="checkbox" id="movie" name="movie" value="Rent">
                <label for="vehicle1"> Rent Movie</label><br>
            </li>
        </ul>
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="nav-link text-dark" asp-area="" asp-page="/Rent">Rent</a>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Rent"></a>
                </li>
            </ul>
        </div>

</body>


