@page
@{
    ViewData["Title"] = "Index";
}

<h1>!!Administration Only!!</h1>
<div class="container">
    <div class="row">
        <a asp-page="/Movies/Admin/Movies/Index">View/Edit Movies</a>
    </div>
    <div class="row">
        <a asp-page="/Movies/Admin/Kiosks/Index">View/Edit Kiosk Locations</a>
    </div>
    <div class="row">
        <a asp-page="/Movies/Admin/Inventory/Index">View/Edit Kiosk Inventory</a>
    </div>
    <div class="row">
        <a asp-page="/Movies/Admin/Users/Index">View/Edit Users</a>
    </div>
</div>

