@page
@model YellowBucket1.KioskEditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kiosks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kiosks.ID" />
            <div class="form-group">
                <label asp-for="Kiosks.Location" class="control-label"></label>
                <input asp-for="Kiosks.Location" class="form-control" />
                <span asp-validation-for="Kiosks.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiosks.Address" class="control-label"></label>
                <input asp-for="Kiosks.Address" class="form-control" />
                <span asp-validation-for="Kiosks.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiosks.Address2" class="control-label"></label>
                <input asp-for="Kiosks.Address2" class="form-control" />
                <span asp-validation-for="Kiosks.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiosks.City" class="control-label"></label>
                <input asp-for="Kiosks.City" class="form-control" />
                <span asp-validation-for="Kiosks.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiosks.State" class="control-label"></label>
                <input asp-for="Kiosks.State" class="form-control" />
                <span asp-validation-for="Kiosks.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiosks.Zip" class="control-label"></label>
                <input asp-for="Kiosks.Zip" class="form-control" />
                <span asp-validation-for="Kiosks.Zip" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Kiosks.DeletedAt" class="control-label"></label>
                <input asp-for="Kiosks.DeletedAt" class="form-control" />
                <span asp-validation-for="Kiosks.DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiosks.CreatedAt" class="control-label"></label>
                <input asp-for="Kiosks.CreatedAt" class="form-control" />
                <span asp-validation-for="Kiosks.CreatedAt" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            @*<label asp-for="Kiosks.UpdatedAt" class="control-label"></label>*@
            <input type="hidden" value="@DateTime.Now" asp-for="Kiosks.UpdatedAt" class="form-control" />
            <span asp-validation-for="Kiosks.UpdatedAt" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
